<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (C) 2013-2014 Patrick Brans.  All rights reserved.
 !-
 !- This file is part of BrickStock.
 !- BrickStock is based heavily on BrickStore (http://www.brickforge.de/software/brickstore/)
 !- by Robert Griebl, Copyright (C) 2004-2008.
 !-
 !- This file may be distributed and/or modified under the terms of the GNU
 !- General Public License version 2 as published by the Free Software Foundation
 !- and appearing in the file LICENSE.GPL included in the packaging of this file.
 !-
 !- This file is provided AS IS with NO WARRANTY OF ANY KIND, INCLUDING THE
 !- WARRANTY OF DESIGN, MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE.
 !-
 !- See http://fsf.org/licensing/licenses/gpl.html for GPL licensing information.
 !-->
<?define ProductName = "BrickStock" ?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Name="BrickStock" Id="*" Version="$(var.VERSION)"
           Manufacturer="brickstock.patrickbrans.com" Language="1033" UpgradeCode="B07FB512-1E16-4157-A253-7E08C9602F07">
    <Package InstallerVersion="200" Languages="1033" Compressed="yes" />
    <Media Id="1" EmbedCab="yes" Cabinet="Setup.cab" CompressionLevel="mszip" />

    <Upgrade Id="B07FB512-1E16-4157-A253-7E08C9602F07">
      <UpgradeVersion Minimum="1.0.0" Maximum="$(var.VERSION)" IncludeMinimum="yes" Property="PREVIOUSVERSIONSINSTALLED" MigrateFeatures="yes" />
      <UpgradeVersion Minimum="$(var.VERSION)" OnlyDetect="yes" IncludeMinimum="yes" Property="NEWERPRODUCTFOUND" />
    </Upgrade>

    <Condition Message="You need to be an administrator to install this product.">
      Privileged
    </Condition>

    <CustomAction Id="ErrorNewerVersion" Return="check" Error="Unable to install because a newer version of this product is already installed." />
    <CustomAction Id="FixReinstall" Property="REINSTALL" Value="" />
    <CustomAction Id="LaunchFile" FileKey="brickstock.exe" ExeCommand="" Return="asyncNoWait" />

    <AdminExecuteSequence />

    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch $(var.ProductName)" />
    <Property Id="WixShellExecTarget" Value="[#brickstock.exe]" />
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />
    
    <InstallExecuteSequence>
      <FindRelatedProducts Sequence="1" Suppress="no" />
      <Custom Action="ErrorNewerVersion" After="FindRelatedProducts"><![CDATA[NEWERPRODUCTFOUND AND NOT Installed]]></Custom>
      <Custom Action="FixReinstall" Before="CostFinalize"><![CDATA[NOT Installed]]></Custom>
      <RemoveExistingProducts After="InstallFinalize" />
    </InstallExecuteSequence>

    <InstallUISequence>
      <Custom Action="ErrorNewerVersion" After="FindRelatedProducts"><![CDATA[NEWERPRODUCTFOUND AND NOT Installed]]></Custom>
      <Custom Action="FixReinstall" Before="CostFinalize"><![CDATA[NOT Installed]]></Custom>
    </InstallUISequence>

    <Icon Id="icon_bs.exe" SourceFile="$(var.TARGET)\brickstock.ico" />
    <Property Id="ARPPRODUCTICON">icon_bs.exe</Property>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="PFiles">
        <Directory Id="INSTALLDIR" Name="BrickStock" />
      </Directory>

      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="BrickStock" />
      </Directory>

      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>

    <DirectoryRef Id="INSTALLDIR">
      <Component Id="c_main" Guid="42EF242A-538E-4222-9852-5D37CCBC2CA2">
        <File DiskId="1" Id="brickstock.exe"   Name="brickstock.exe"   Source="$(var.TARGET)\brickstock.exe" Checksum="yes" />
        <Shortcut Id="sm_brickstock.exe"       Name="BrickStock"       Icon="icon_bs.exe" IconIndex="0" Directory="ProgramMenuDir" Target="Complete" WorkingDirectory="INSTALLDIR" />
        <Shortcut Id="sd_brickstock.exe"       Name="BrickStock"       Icon="icon_bs.exe" IconIndex="0" Directory="DesktopFolder"  Target="Complete" WorkingDirectory="INSTALLDIR" />
        <File DiskId="1" Id="LICENSE.GPL"      Name="LICENSE.GPL.txt"  Source="$(var.TARGET)\LICENSE.GPL" />

        <RegistryKey Root="HKLM" Key="Software\BrickStock">
          <RegistryValue Id="reg_installdir" Name="InstallDir" Action="write" Type="string" Value="[INSTALLDIR]" />
          <RegistryValue Id="reg_installver" Name="CurrentVersion" Action="write" Type="string" Value="$(var.VERSION)" />
        </RegistryKey>
        <RemoveRegistryKey Id="reg_clean"  Root="HKLM" Key="Software\BrickStock" Action="removeOnUninstall" />

        <ProgId Id="BrickStock.bsxfile" Description="BrickStock XML" Advertise="no" Icon="brickstock.exe" IconIndex="1">
          <Extension Id="bsx" ContentType="application/x-brickstock-xml">
            <Verb Id="open" Argument="&quot;%1&quot;" TargetFile="brickstock.exe" />
          </Extension>
        </ProgId>

        <ProgId Id="BrickStock.btifile" Description="BrickStock Data File" Advertise="no" Icon="brickstock.exe" IconIndex="1">
          <Extension Id="bti" ContentType="application/x-brickstock">
            <Verb Id="open" Argument="&quot;%1&quot;" TargetFile="brickstock.exe" />
          </Extension>
        </ProgId>
      </Component>
      
      <Component Id="c_runtime" Guid="514ECE62-8EB1-11D9-8BDE-F66BAD1E3F3A">
        <File DiskId="1" Id="msvcr100"    Name="msvcr100.dll" Source="C:\Program Files (x86)\Microsoft Visual Studio 10.0\VC\redist\x86\Microsoft.VC100.CRT/msvcr100.dll" />
        <File DiskId="1" Id="msvcp100"    Name="msvcp100.dll" Source="C:\Program Files (x86)\Microsoft Visual Studio 10.0\VC\redist\x86\Microsoft.VC100.CRT/msvcp100.dll" />
      </Component>

      <Directory Id="translations" Name="translations">
        <Component Id="c_translations" Guid="7F2A4CBF-90FB-43A1-AC34-FEA6BF6FE1FE">
          <File DiskId="1" Id="translations.xml" Name="translations.xml" Source="$(var.TARGET)\translations\translations.xml" />
          <File DiskId="1" Id="brickstock_de.qm" Name="brickstock_de.qm" Source="$(var.TARGET)\translations\brickstock_de.qm" />
          <File DiskId="1" Id="brickstock_fr.qm" Name="brickstock_fr.qm" Source="$(var.TARGET)\translations\brickstock_fr.qm" />
          <File DiskId="1" Id="brickstock_nl.qm" Name="brickstock_nl.qm" Source="$(var.TARGET)\translations\brickstock_nl.qm" />
          <File DiskId="1" Id="brickstock_sl.qm" Name="brickstock_sl.qm" Source="$(var.TARGET)\translations\brickstock_sl.qm" />
          <File DiskId="1" Id="qt_de.qm"         Name="qt_de.qm"         Source="$(var.QTDIR)\translations\qt_de.qm" />
          <File DiskId="1" Id="qt_fr.qm"         Name="qt_fr.qm"         Source="$(var.QTDIR)\translations\qt_fr.qm" />
          <File DiskId="1" Id="qt_nl.qm"         Name="qt_nl.qm"         Source="$(var.QTDIR)\translations\qt_nl.qm" />
          <File DiskId="1" Id="qt_sl.qm"         Name="qt_sl.qm"         Source="$(var.QTDIR)\translations\qt_sl.qm" />
        </Component>
      </Directory>
      
      <Directory Id="print_templates" Name="print-templates">
        <Component Id="c_print_templates" Guid="ED89FB38-8C96-4405-BF13-9B724B50B53C">
          <File DiskId="1" Id="standard.qs" Name="standard.qs" Source="$(var.TARGET)\print-templates\standard.qs" />
        </Component>
      </Directory>
      
      <Directory Id="images" Name="images">
        <Component Id="c_images" Guid="9FA21F08-8E91-11D9-8BDE-F66BAD1E3F3A">
          <File DiskId="1" Id="icon.png"           Name="icon.png"           Source="$(var.TARGET)\images\icon.png" />
          <File DiskId="1" Id="status_exclude.png" Name="status_exclude.png" Source="$(var.TARGET)\images\status_exclude.png" />
          <File DiskId="1" Id="status_extra.png"   Name="status_extra.png"   Source="$(var.TARGET)\images\status_extra.png" />
          <File DiskId="1" Id="status_include.png" Name="status_include.png" Source="$(var.TARGET)\images\status_include.png" />
          <File DiskId="1" Id="status_unknown.png" Name="status_unknown.png" Source="$(var.TARGET)\images\status_unknown.png" />
          <File DiskId="1" Id="bg_infotext.jpg"    Name="bg_infotext.jpg"    Source="$(var.TARGET)\images\bg_infotext.jpg" />
          <File DiskId="1" Id="important.png"      Name="important.png"      Source="$(var.TARGET)\images\important.png" />
          <File DiskId="1" Id="spinner.png"        Name="spinner.png"        Source="$(var.TARGET)\images\spinner.png" />
        </Component>
        <Directory Id="images_status" Name="status">
          <Component Id="c_images_status" Guid="A780CC45-113C-47EC-9309-BEBFF6A396B6">
            <File DiskId="1" Id="istatus_modified.png" Name="modified.png"  Source="$(var.TARGET)\images\status\modified.png" />
            <File DiskId="1" Id="istatus_popup.png"    Name="popup.png"     Source="$(var.TARGET)\images\status\popup.png" />
            <File DiskId="1" Id="istatus_stop.png"     Name="stop.png"      Source="$(var.TARGET)\images\status\stop.png" />
          </Component>
        </Directory>
        <Directory Id="images_sidebar" Name="sidebar">
          <Component Id="c_images_sidebar" Guid="C5826B59-A8E5-41BE-9099-7AD21FAB6427">
            <File DiskId="1" Id="isidebar_info.png"       Name="info.png"       Source="$(var.TARGET)\images\sidebar\info.png" />
            <File DiskId="1" Id="isidebar_priceguide.png" Name="priceguide.png" Source="$(var.TARGET)\images\sidebar\priceguide.png" />
            <File DiskId="1" Id="isidebar_links.png"      Name="links.png"      Source="$(var.TARGET)\images\sidebar\links.png" />
            <File DiskId="1" Id="isidebar_appearsin.png"  Name="appearsin.png"  Source="$(var.TARGET)\images\sidebar\appearsin.png" />
          </Component>
        </Directory>
        <Directory Id="images_16x16" Name="16x16">
          <Component Id="c_images_16x16" Guid="A7EEE510-8E91-11D9-8BDE-F66BAD1E3F3A">
            <File DiskId="1" Id="i16x16_edit_additems.png"             Name="edit_additems.png"             Source="$(var.TARGET)\images\16x16\edit_additems.png" />
            <File DiskId="1" Id="i16x16_edit_bl_catalog.png"           Name="edit_bl_catalog.png"           Source="$(var.TARGET)\images\16x16\edit_bl_catalog.png" />
            <File DiskId="1" Id="i16x16_edit_bl_lotsforsale.png"       Name="edit_bl_lotsforsale.png"       Source="$(var.TARGET)\images\16x16\edit_bl_lotsforsale.png" />
            <File DiskId="1" Id="i16x16_edit_bl_priceguide.png"        Name="edit_bl_priceguide.png"        Source="$(var.TARGET)\images\16x16\edit_bl_priceguide.png" />
            <File DiskId="1" Id="i16x16_edit_copy.png"                 Name="edit_copy.png"                 Source="$(var.TARGET)\images\16x16\edit_copy.png" />
            <File DiskId="1" Id="i16x16_edit_cut.png"                  Name="edit_cut.png"                  Source="$(var.TARGET)\images\16x16\edit_cut.png" />
            <File DiskId="1" Id="i16x16_edit_delete.png"               Name="edit_delete.png"               Source="$(var.TARGET)\images\16x16\edit_delete.png" />
            <File DiskId="1" Id="i16x16_edit_qty_divide.png"           Name="edit_qty_divide.png"           Source="$(var.TARGET)\images\16x16\edit_qty_divide.png" />
            <File DiskId="1" Id="i16x16_edit_find.png"                 Name="edit_find.png"                 Source="$(var.TARGET)\images\16x16\edit_find.png" />
            <File DiskId="1" Id="i16x16_edit_find_again.png"           Name="edit_find_again.png"           Source="$(var.TARGET)\images\16x16\edit_find_again.png" />
            <File DiskId="1" Id="i16x16_edit_mergeitems.png"           Name="edit_mergeitems.png"           Source="$(var.TARGET)\images\16x16\edit_mergeitems.png" />
            <File DiskId="1" Id="i16x16_edit_qty_multiply.png"         Name="edit_qty_multiply.png"         Source="$(var.TARGET)\images\16x16\edit_qty_multiply.png" />
            <File DiskId="1" Id="i16x16_edit_partoutitems.png"         Name="edit_partoutitems.png"         Source="$(var.TARGET)\images\16x16\edit_partoutitems.png" />
            <File DiskId="1" Id="i16x16_edit_paste.png"                Name="edit_paste.png"                Source="$(var.TARGET)\images\16x16\edit_paste.png" />
            <File DiskId="1" Id="i16x16_edit_price_inc_dec.png"        Name="edit_price_inc_dec.png"        Source="$(var.TARGET)\images\16x16\edit_price_inc_dec.png" />
            <File DiskId="1" Id="i16x16_edit_price_to_priceguide.png"  Name="edit_price_to_priceguide.png"  Source="$(var.TARGET)\images\16x16\edit_price_to_priceguide.png" />
            <File DiskId="1" Id="i16x16_edit_redo.png"                 Name="edit_redo.png"                 Source="$(var.TARGET)\images\16x16\edit_redo.png" />
            <File DiskId="1" Id="i16x16_edit_sale.png"                 Name="edit_sale.png"                 Source="$(var.TARGET)\images\16x16\edit_sale.png" />
            <File DiskId="1" Id="i16x16_edit_subtractitems.png"        Name="edit_subtractitems.png"        Source="$(var.TARGET)\images\16x16\edit_subtractitems.png" />
            <File DiskId="1" Id="i16x16_edit_undo.png"                 Name="edit_undo.png"                 Source="$(var.TARGET)\images\16x16\edit_undo.png" />
            <File DiskId="1" Id="i16x16_extras_configure.png"          Name="extras_configure.png"          Source="$(var.TARGET)\images\16x16\extras_configure.png" />
            <File DiskId="1" Id="i16x16_extras_update_database.png"    Name="extras_update_database.png"    Source="$(var.TARGET)\images\16x16\extras_update_database.png" />
            <File DiskId="1" Id="i16x16_file_close.png"                Name="file_close.png"                Source="$(var.TARGET)\images\16x16\file_close.png" />
            <File DiskId="1" Id="i16x16_file_exit.png"                 Name="file_exit.png"                 Source="$(var.TARGET)\images\16x16\file_exit.png" />
            <File DiskId="1" Id="i16x16_file_export.png"               Name="file_export.png"               Source="$(var.TARGET)\images\16x16\file_export.png" />
            <File DiskId="1" Id="i16x16_file_export_briktrak.png"      Name="file_export_briktrak.png"      Source="$(var.TARGET)\images\16x16\file_export_briktrak.png" />
            <File DiskId="1" Id="i16x16_file_import.png"               Name="file_import.png"               Source="$(var.TARGET)\images\16x16\file_import.png" />
            <File DiskId="1" Id="i16x16_file_import_briktrak.png"      Name="file_import_briktrak.png"      Source="$(var.TARGET)\images\16x16\file_import_briktrak.png" />
            <File DiskId="1" Id="i16x16_file_import_ldraw_model.png"   Name="file_import_ldraw_model.png"   Source="$(var.TARGET)\images\16x16\file_import_ldraw_model.png" />
            <File DiskId="1" Id="i16x16_file_import_peeron_inv.png"    Name="file_import_peeron_inv.png"    Source="$(var.TARGET)\images\16x16\file_import_peeron_inv.png" />
            <File DiskId="1" Id="i16x16_file_new.png"                  Name="file_new.png"                  Source="$(var.TARGET)\images\16x16\file_new.png" />
            <File DiskId="1" Id="i16x16_file_open.png"                 Name="file_open.png"                 Source="$(var.TARGET)\images\16x16\file_open.png" />
            <File DiskId="1" Id="i16x16_file_print.png"                Name="file_print.png"                Source="$(var.TARGET)\images\16x16\file_print.png" />
            <File DiskId="1" Id="i16x16_file_save.png"                 Name="file_save.png"                 Source="$(var.TARGET)\images\16x16\file_save.png" />
            <File DiskId="1" Id="i16x16_file_save_all.png"             Name="file_save_all.png"             Source="$(var.TARGET)\images\16x16\file_save_all.png" />
            <File DiskId="1" Id="i16x16_file_saveas.png"               Name="file_saveas.png"               Source="$(var.TARGET)\images\16x16\file_saveas.png" />
            <File DiskId="1" Id="i16x16_filter_clear.png"              Name="filter_clear.png"              Source="$(var.TARGET)\images\16x16\filter_clear.png" />
            <File DiskId="1" Id="i16x16_filter_label.png"              Name="filter_label.png"              Source="$(var.TARGET)\images\16x16\filter_label.png" />
            <File DiskId="1" Id="i16x16_help_contents.png"             Name="help_contents.png"             Source="$(var.TARGET)\images\16x16\help_contents.png" />
            <File DiskId="1" Id="i16x16_help_updates.png"              Name="help_updates.png"              Source="$(var.TARGET)\images\16x16\help_updates.png" />
            <File DiskId="1" Id="i16x16_help_whatsthis.png"            Name="help_whatsthis.png"            Source="$(var.TARGET)\images\16x16\help_whatsthis.png" />
            <File DiskId="1" Id="i16x16_extras_net_offline.png"        Name="extras_net_offline.png"        Source="$(var.TARGET)\images\16x16\extras_net_offline.png" />
            <File DiskId="1" Id="i16x16_extras_net_online.png"         Name="extras_net_online.png"         Source="$(var.TARGET)\images\16x16\extras_net_online.png" />
            <File DiskId="1" Id="i16x16_reload.png"                    Name="reload.png"                    Source="$(var.TARGET)\images\16x16\reload.png" />
            <File DiskId="1" Id="i16x16_view_compact.png"              Name="view_compact.png"              Source="$(var.TARGET)\images\16x16\view_compact.png" />
            <File DiskId="1" Id="i16x16_view_hierarchic.png"           Name="view_hierarchic.png"           Source="$(var.TARGET)\images\16x16\view_hierarchic.png" />
            <File DiskId="1" Id="i16x16_view_plain.png"                Name="view_plain.png"                Source="$(var.TARGET)\images\16x16\view_plain.png" />
            <File DiskId="1" Id="i16x16_viewmagp.png"                  Name="viewmagp.png"                  Source="$(var.TARGET)\images\16x16\viewmagp.png" />
            <File DiskId="1" Id="i16x16_viewmode.png"                  Name="viewmode.png"                  Source="$(var.TARGET)\images\16x16\viewmode.png" />
            <File DiskId="1" Id="i16x16_viewmode_images.png"           Name="viewmode_images.png"           Source="$(var.TARGET)\images\16x16\viewmode_images.png" />
            <File DiskId="1" Id="i16x16_viewmode_list.png"             Name="viewmode_list.png"             Source="$(var.TARGET)\images\16x16\viewmode_list.png" />
            <File DiskId="1" Id="i16x16_viewmode_thumbs.png"           Name="viewmode_thumbs.png"           Source="$(var.TARGET)\images\16x16\viewmode_thumbs.png" />
          </Component>
        </Directory>
        <Directory Id="images_22x22" Name="22x22">
          <Component Id="c_images_22x22" Guid="AEE85EDC-8E91-11D9-8BDE-F66BAD1E3F3A">
            <File DiskId="1" Id="i22x22_edit_additems.png"             Name="edit_additems.png"             Source="$(var.TARGET)\images\22x22\edit_additems.png" />
            <File DiskId="1" Id="i22x22_edit_bl_catalog.png"           Name="edit_bl_catalog.png"           Source="$(var.TARGET)\images\22x22\edit_bl_catalog.png" />
            <File DiskId="1" Id="i22x22_edit_bl_lotsforsale.png"       Name="edit_bl_lotsforsale.png"       Source="$(var.TARGET)\images\22x22\edit_bl_lotsforsale.png" />
            <File DiskId="1" Id="i22x22_edit_bl_priceguide.png"        Name="edit_bl_priceguide.png"        Source="$(var.TARGET)\images\22x22\edit_bl_priceguide.png" />
            <File DiskId="1" Id="i22x22_edit_copy.png"                 Name="edit_copy.png"                 Source="$(var.TARGET)\images\22x22\edit_copy.png" />
            <File DiskId="1" Id="i22x22_edit_cut.png"                  Name="edit_cut.png"                  Source="$(var.TARGET)\images\22x22\edit_cut.png" />
            <File DiskId="1" Id="i22x22_edit_delete.png"               Name="edit_delete.png"               Source="$(var.TARGET)\images\22x22\edit_delete.png" />
            <File DiskId="1" Id="i22x22_edit_qty_divide.png"           Name="edit_qty_divide.png"           Source="$(var.TARGET)\images\22x22\edit_qty_divide.png" />
            <File DiskId="1" Id="i22x22_edit_find.png"                 Name="edit_find.png"                 Source="$(var.TARGET)\images\22x22\edit_find.png" />
            <File DiskId="1" Id="i22x22_edit_find_again.png"           Name="edit_find_again.png"           Source="$(var.TARGET)\images\22x22\edit_find_again.png" />
            <File DiskId="1" Id="i22x22_edit_mergeitems.png"           Name="edit_mergeitems.png"           Source="$(var.TARGET)\images\22x22\edit_mergeitems.png" />
            <File DiskId="1" Id="i22x22_edit_qty_multiply.png"         Name="edit_qty_multiply.png"         Source="$(var.TARGET)\images\22x22\edit_qty_multiply.png" />
            <File DiskId="1" Id="i22x22_edit_partoutitems.png"         Name="edit_partoutitems.png"         Source="$(var.TARGET)\images\22x22\edit_partoutitems.png" />
            <File DiskId="1" Id="i22x22_edit_paste.png"                Name="edit_paste.png"                Source="$(var.TARGET)\images\22x22\edit_paste.png" />
            <File DiskId="1" Id="i22x22_edit_price_inc_dec.png"        Name="edit_price_inc_dec.png"        Source="$(var.TARGET)\images\22x22\edit_price_inc_dec.png" />
            <File DiskId="1" Id="i22x22_edit_price_to_priceguide.png"  Name="edit_price_to_priceguide.png"  Source="$(var.TARGET)\images\22x22\edit_price_to_priceguide.png" />
            <File DiskId="1" Id="i22x22_edit_redo.png"                 Name="edit_redo.png"                 Source="$(var.TARGET)\images\22x22\edit_redo.png" />
            <File DiskId="1" Id="i22x22_edit_sale.png"                 Name="edit_sale.png"                 Source="$(var.TARGET)\images\22x22\edit_sale.png" />
            <File DiskId="1" Id="i22x22_edit_subtractitems.png"        Name="edit_subtractitems.png"        Source="$(var.TARGET)\images\22x22\edit_subtractitems.png" />
            <File DiskId="1" Id="i22x22_edit_undo.png"                 Name="edit_undo.png"                 Source="$(var.TARGET)\images\22x22\edit_undo.png" />
            <File DiskId="1" Id="i22x22_extras_configure.png"          Name="extras_configure.png"          Source="$(var.TARGET)\images\22x22\extras_configure.png" />
            <File DiskId="1" Id="i22x22_extras_update_database.png"    Name="extras_update_database.png"    Source="$(var.TARGET)\images\22x22\extras_update_database.png" />
            <File DiskId="1" Id="i22x22_file_close.png"                Name="file_close.png"                Source="$(var.TARGET)\images\22x22\file_close.png" />
            <File DiskId="1" Id="i22x22_file_exit.png"                 Name="file_exit.png"                 Source="$(var.TARGET)\images\22x22\file_exit.png" />
            <File DiskId="1" Id="i22x22_file_export.png"               Name="file_export.png"               Source="$(var.TARGET)\images\22x22\file_export.png" />
            <File DiskId="1" Id="i22x22_file_export_briktrak.png"      Name="file_export_briktrak.png"      Source="$(var.TARGET)\images\22x22\file_export_briktrak.png" />
            <File DiskId="1" Id="i22x22_file_import.png"               Name="file_import.png"               Source="$(var.TARGET)\images\22x22\file_import.png" />
            <File DiskId="1" Id="i22x22_file_import_briktrak.png"      Name="file_import_briktrak.png"      Source="$(var.TARGET)\images\22x22\file_import_briktrak.png" />
            <File DiskId="1" Id="i22x22_file_import_ldraw_model.png"   Name="file_import_ldraw_model.png"   Source="$(var.TARGET)\images\22x22\file_import_ldraw_model.png" />
            <File DiskId="1" Id="i22x22_file_import_peeron_inv.png"    Name="file_import_peeron_inv.png"    Source="$(var.TARGET)\images\22x22\file_import_peeron_inv.png" />
            <File DiskId="1" Id="i22x22_file_new.png"                  Name="file_new.png"                  Source="$(var.TARGET)\images\22x22\file_new.png" />
            <File DiskId="1" Id="i22x22_file_open.png"                 Name="file_open.png"                 Source="$(var.TARGET)\images\22x22\file_open.png" />
            <File DiskId="1" Id="i22x22_file_print.png"                Name="file_print.png"                Source="$(var.TARGET)\images\22x22\file_print.png" />
            <File DiskId="1" Id="i22x22_file_save.png"                 Name="file_save.png"                 Source="$(var.TARGET)\images\22x22\file_save.png" />
            <File DiskId="1" Id="i22x22_file_save_all.png"             Name="file_save_all.png"             Source="$(var.TARGET)\images\22x22\file_save_all.png" />
            <File DiskId="1" Id="i22x22_file_saveas.png"               Name="file_saveas.png"               Source="$(var.TARGET)\images\22x22\file_saveas.png" />
            <File DiskId="1" Id="i22x22_filter_clear.png"              Name="filter_clear.png"              Source="$(var.TARGET)\images\22x22\filter_clear.png" />
            <File DiskId="1" Id="i22x22_filter_label.png"              Name="filter_label.png"              Source="$(var.TARGET)\images\22x22\filter_label.png" />
            <File DiskId="1" Id="i22x22_help_contents.png"             Name="help_contents.png"             Source="$(var.TARGET)\images\22x22\help_contents.png" />
            <File DiskId="1" Id="i22x22_help_updates.png"              Name="help_updates.png"              Source="$(var.TARGET)\images\22x22\help_updates.png" />
            <File DiskId="1" Id="i22x22_help_whatsthis.png"            Name="help_whatsthis.png"            Source="$(var.TARGET)\images\22x22\help_whatsthis.png" />
            <File DiskId="1" Id="i22x22_extras_net_offline.png"        Name="extras_net_offline.png"        Source="$(var.TARGET)\images\22x22\extras_net_offline.png" />
            <File DiskId="1" Id="i22x22_extras_net_online.png"         Name="extras_net_online.png"         Source="$(var.TARGET)\images\22x22\extras_net_online.png" />
            <File DiskId="1" Id="i22x22_reload.png"                    Name="reload.png"                    Source="$(var.TARGET)\images\22x22\reload.png" />
            <File DiskId="1" Id="i22x22_view_compact.png"              Name="view_compact.png"              Source="$(var.TARGET)\images\22x22\view_compact.png" />
            <File DiskId="1" Id="i22x22_view_hierarchic.png"           Name="view_hierarchic.png"           Source="$(var.TARGET)\images\22x22\view_hierarchic.png" />
            <File DiskId="1" Id="i22x22_view_plain.png"                Name="view_plain.png"                Source="$(var.TARGET)\images\22x22\view_plain.png" />
            <File DiskId="1" Id="i22x22_viewmagp.png"                  Name="viewmagp.png"                  Source="$(var.TARGET)\images\22x22\viewmagp.png" />
            <File DiskId="1" Id="i22x22_viewmode.png"                  Name="viewmode.png"                  Source="$(var.TARGET)\images\22x22\viewmode.png" />
            <File DiskId="1" Id="i22x22_viewmode_images.png"           Name="viewmode_images.png"           Source="$(var.TARGET)\images\22x22\viewmode_images.png" />
            <File DiskId="1" Id="i22x22_viewmode_list.png"             Name="viewmode_list.png"             Source="$(var.TARGET)\images\22x22\viewmode_list.png" />
            <File DiskId="1" Id="i22x22_viewmode_thumbs.png"           Name="viewmode_thumbs.png"           Source="$(var.TARGET)\images\22x22\viewmode_thumbs.png" />
          </Component>
        </Directory>
      </Directory>
    </DirectoryRef>
    
    <Feature Id="Complete" Title="BrickStock" Description="The complete package." TypicalDefault="install" Display="expand" Level="1" ConfigurableDirectory="INSTALLDIR">
      <ComponentRef Id="c_main" />
      <ComponentRef Id="c_runtime" />
      <ComponentRef Id="c_translations" />
      <ComponentRef Id="c_print_templates" />
      <ComponentRef Id="c_images" />
      <ComponentRef Id="c_images_status" />
      <ComponentRef Id="c_images_16x16" />
      <ComponentRef Id="c_images_22x22" />
      <ComponentRef Id="c_images_sidebar" />
    </Feature>

    <WixVariable Id="WixUILicenseRtf" Value="binary\license.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="binary\banner.bmp" />
    <UI>
      <UIRef Id="WixUI_Mondo"/>
      <Publish Dialog="ExitDialog"
          Control="Finish"
          Event="DoAction"
          Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
    </UI>
  </Product>
</Wix>
