Source: brickstore
Section: x11
Priority: extra
Maintainer: Robert Griebl <rg@softforge.de>
Build-Depends: debhelper (>= 7.0.50~), libqt4-dev (>= 4.6), libqt4-opengl-dev (>= 4.6), libxext-dev
Standards-Version: 3.9.1

Package: brickstore
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Offline tool for BrickLink
 BrickStore is an offline tool to manage your online store on
 http://www.bricklink.com
