.moc
.obj
.uic
.svn
.private-key
Thumbs.db
*.bak
*~
brickstore.ncb
brickstore.pri
brickstore.sln
brickstore.suo
brickstore.vcproj*
Debug
debug
Release
vc80.idb
vc80.pdb
version.h
Makefile*
brickstore
brickstore.exe
brickstore.app
qrc_brickstore.cpp
brickstore.xcodeproj
