.moc
.obj
.uic
.rcc
.svn
.private-key
Thumbs.db
*.bak
*~
*.autosave
brickstore.ncb
brickstore.pri
brickstore.sln
brickstore.suo
brickstore.vcproj*
[dD]ebug/
[rR]elease/
vc80.idb
vc80.pdb
version.h
Makefile*
bin/brickstore
BrickStore.exe
BrickStore.app
brickstore.xcodeproj
*.orig
*.rej
ui_*.h
*.pr?.user*
.DS_Store
translations/*.qm
CMakeLists.txt.user
doc/html
build/
.cache/
.qmlls.ini
