.moc
.obj
.uic
.rcc
.svn
.private-key
Thumbs.db
*.bak
*~
brickstore.ncb
brickstore.pri
brickstore.sln
brickstore.suo
brickstore.vcproj*
[dD]ebug
[rR]elease
vc80.idb
vc80.pdb
version.h
Makefile*
brickstore
brickstore.exe
BrickStore.app
qrc_brickstore.cpp
brickstore.xcodeproj
ldtest
*.orig
*.rej
ui_*.h
*.pr?.user
debian/
