<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
        <dict>
                <key>NSPrincipalClass</key>
                <string>NSApplication</string>

                <key>CFBundleIconFile</key>
                <string>application.icns</string>

                <key>CFBundlePackageType</key>
                <string>APPL</string>

                <key>CFBundleGetInfoString</key>
                <string>Bundle for BrickStock</string>

                <key>CFBundleSignature</key>
                <string>????</string>

                <key>CFBundleExecutable</key>
                <string>BrickStock</string>

                <key>CFBundleName</key>
                <string>BrickStock</string>

                <key>CFBundleIdentifier</key>
                <string>com.patrickbrans.brickstock</string>

                <key>CFBundleShortVersionString</key>
                <string>%{version}</string>

                <key>CFBundleVersion</key>
                <string>%{version}</string>

                <key>CFBundleDocumentTypes</key>
                <array>
                        <dict>
                                <key>CFBundleTypeExtensions</key>
                                <array>
                                        <string>bti</string>
                                </array>

                                <key>CFBundleTypeIconFile</key>
                                <string>document.icns</string>

                                <key>CFBundleTypeMIMETypes</key>
                                <array>
                                        <string>application/x-brickstock</string>
                                </array>

                                <key>CFBundleTypeName</key>
                                <string>BrickStock Data File</string>

                                <key>CFBundleTypeRole</key>
                                <string>Editor</string>

                                <key>LSIsAppleDefaultForType</key>
                                <true/>
                        </dict>
                        <dict>
                                <key>CFBundleTypeExtensions</key>
                                <array>
                                        <string>bsx</string>
                                </array>

                                <key>CFBundleTypeIconFile</key>
                                <string>document.icns</string>

                                <key>CFBundleTypeMIMETypes</key>
                                <array>
                                        <string>application/x-brickstock-xml</string>
                                </array>

                                <key>CFBundleTypeName</key>
                                <string>BrickStock XML</string>

                                <key>CFBundleTypeRole</key>
                                <string>Editor</string>

                                <key>LSIsAppleDefaultForType</key>
                                <true/>
                        </dict>
                </array>
        </dict>
</plist>
