/* Copyright (C) 2004-2020 Robert Griebl. All rights reserved.
**
** This file is part of BrickStore.
**
** This file may be distributed and/or modified under the terms of the GNU 
** General Public License version 2 as published by the Free Software Foundation 
** and appearing in the file LICENSE.GPL included in the packaging of this file.
**
** This file is provided AS IS with NO WARRANTY OF ANY KIND, INCLUDING THE
** WARRANTY OF DESIGN, MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE.
**
** See http://fsf.org/licensing/licenses/gpl.html for GPL licensing information.
*/

#include <winver.h>
#include <winuser.h>

// stringification sucks :)
#define _BS_STR(s)   _BS_STR2(s)
#define _BS_STR2(s)  #s

#ifndef BRICKSTORE_MAJOR // qmake mingw bug
#  warning The windows embedded version resource is most likely wrong due to a qmake/mingw bug
#  define BRICKSTORE_MAJOR 2
#  define BRICKSTORE_MINOR 0
#  define BRICKSTORE_PATCH 0
#endif

#define BRICKSTORE_VERSIONINFO   _BS_STR(BRICKSTORE_MAJOR) ", " _BS_STR(BRICKSTORE_MINOR) ", " _BS_STR(BRICKSTORE_PATCH) ", 0"

IDI_ICON1               ICON         "brickstore.ico"
IDI_ICON2               ICON         "brickstore_doc.ico"

VS_VERSION_INFO VERSIONINFO
  FILEVERSION    BRICKSTORE_MAJOR,BRICKSTORE_MINOR,BRICKSTORE_PATCH,0
  PRODUCTVERSION BRICKSTORE_MAJOR,BRICKSTORE_MINOR,BRICKSTORE_PATCH,0
  FILEFLAGSMASK 0x3fL
#ifdef DEBUG
  FILEFLAGS 0x1L
#else
  FILEFLAGS 0x0L
#endif
  FILEOS 0x4L
  FILETYPE 0x1L
  FILESUBTYPE 0x0L
  BEGIN
    BLOCK "StringFileInfo"
    BEGIN
      BLOCK "040904b0"
      BEGIN
        VALUE "CompanyName", "http://www.softforge.de/\0"
        VALUE "FileDescription", "BrickStore\0"
        VALUE "FileVersion", BRICKSTORE_VERSIONINFO "\0"
        VALUE "InternalName", "BrickStore\0"
        VALUE "LegalCopyright", "Copyright (c) 2004-2020 Robert Griebl\0"
        VALUE "OriginalFilename", "BrickStore.exe\0"
        VALUE "ProductName", "BrickStore\0"
        VALUE "ProductVersion", BRICKSTORE_VERSIONINFO "\0"
      END
    END

    BLOCK "VarFileInfo" 
	BEGIN
	  /* the following line should be extended for localized versions */ 
	  VALUE "Translation", 0x0409, 1200
	END 
  END
