[Desktop Entry]
Name=BrickStore
TryExec=brickstore
Exec=brickstore %F
MimeType=application/x-brickstore-xml;
Icon=brickstore
Categories=Qt;Network;
Type=Application
Terminal=false
