<?xml version="1.0" encoding="utf-8"?>

<!-- Copyright (C) 2004-2020 Robert Griebl.  All rights reserved.
 !-
 !- This file is part of BrickStore.
 !-
 !- This file may be distributed and/or modified under the terms of the GNU
 !- General Public License version 2 as published by the Free Software Foundation
 !- and appearing in the file LICENSE.GPL included in the packaging of this file.
 !-
 !- This file is provided AS IS with NO WARRANTY OF ANY KIND, INCLUDING THE
 !- WARRANTY OF DESIGN, MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE.
 !-
 !- See http://fsf.org/licensing/licenses/gpl.html for GPL licensing information.
 !-->

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Name="BrickStore 2"
           Id="A3CD8081-9650-473A-895D-3CC7AE30E34A"
           Version="$(var.VERSION)"
           Manufacturer="softforge.de"
           Language="1033"
           UpgradeCode="911B124C-4494-4D97-B8D0-3017A2EB8CED">
    <Package Id="*"
             Comments="This MSI file installs BrickStore $(var.VERSION)"
             Manufacturer="softforge.de"
             InstallerVersion="200"
             Languages="1033"
             Compressed="yes"
             InstallPrivileges="limited"
             InstallScope="perUser" />
    <Media Id="1"
           EmbedCab="yes"
           Cabinet="brickstore.cab"
           CompressionLevel="none" />

<!--    <Upgrade Id="FE06FEC9-2BAA-4100-88FE-40EB1316D14E">
      <UpgradeVersion Minimum="2.0.0" Maximum="$(var.VERSION)" IncludeMinimum="yes" Property="PREVIOUSVERSIONSINSTALLED" MigrateFeatures="yes" />
      <UpgradeVersion Minimum="$(var.VERSION)" OnlyDetect="yes" IncludeMinimum="yes" Property="NEWERPRODUCTFOUND" />
    </Upgrade>

    <Condition Message="You need to be an administrator to install this product.">
      Privileged
    </Condition>

    <CustomAction Id="ErrorNewerVersion" Return="check" Error="Unable to install because a newer version of this product is already installed." />
    <CustomAction Id="FixReinstall" Property="REINSTALL" Value="" />
    <CustomAction Id="LaunchFile" FileKey="BrickStore.exe" ExeCommand="" Return="asyncNoWait" />

    <AdminExecuteSequence />

    <InstallExecuteSequence>
      <FindRelatedProducts Sequence="1" Suppress="no" />
      <Custom Action="ErrorNewerVersion" After="FindRelatedProducts"><![CDATA[NEWERPRODUCTFOUND AND NOT Installed]]></Custom>
      <Custom Action="FixReinstall" Before="CostFinalize"><![CDATA[NOT Installed]]></Custom>
      <RemoveExistingProducts After="InstallFinalize" />
    </InstallExecuteSequence>

    <InstallUISequence>
      <Custom Action="ErrorNewerVersion" After="FindRelatedProducts"><![CDATA[NEWERPRODUCTFOUND AND NOT Installed]]></Custom>
      <Custom Action="FixReinstall" Before="CostFinalize"><![CDATA[NOT Installed]]></Custom>
    </InstallUISequence>
               !-->
    <Icon Id="icon_bs.exe" SourceFile="$(var.TARGET)\win32\brickstore.ico" />

    <Property Id="ARPPRODUCTICON">icon_bs.exe</Property>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder" Name="PFiles">
        <Directory Id="INSTALLDIR" Name="BrickStore">
          <Component Id="c_main" Guid="96E5E9DA-8E91-11D9-8BDE-F66BAD1E3F3A">
            <File Id="BrickStore.exe"   Name="BrickStore.exe"   Source="$(var.TARGET)\src\Release\BrickStore.exe" Checksum="yes" />
            <Shortcut Id="sm_brickstore.exe"       Name="BrickStore"       Icon="icon_bs.exe" IconIndex="0" Directory="ProgramMenuFolder" Target="Complete" WorkingDirectory="INSTALLDIR" />
            <Shortcut Id="sd_brickstore.exe"       Name="BrickStore"       Icon="icon_bs.exe" IconIndex="0" Directory="DesktopFolder"     Target="Complete" WorkingDirectory="INSTALLDIR" />
            <File Id="LICENSE.GPL"      Name="LICENSE.GPL.txt"  Source="$(var.TARGET)\LICENSE.GPL" />

            <RegistryKey Id="reg_brickstore" Root="HKLM" Key="Software\BrickStore" Action="createAndRemoveOnUninstall">
              <RegistryValue Id="reg_installdir" Name="InstallDir"     Type="string" Value="[INSTALLDIR]" />
              <RegistryValue Id="reg_installver" Name="CurrentVersion" Type="string" Value="$(var.VERSION)" />
            </RegistryKey>

            <ProgId Id="BrickStore.bsxfile" Description="BrickStore XML" Advertise="no" Icon="BrickStore.exe" IconIndex="1">
              <Extension Id="bsx" ContentType="application/x-brickstore-xml">
                <Verb Id="open" Argument="&quot;%1&quot;" TargetFile="BrickStore.exe" />
              </Extension>
            </ProgId>

            <ProgId Id="BrickStore.btifile" Description="BrickStore Data File" Advertise="no" Icon="BrickStore.exe" IconIndex="1">
              <Extension Id="bti" ContentType="application/x-brickstore">
                <Verb Id="open" Argument="&quot;%1&quot;" TargetFile="BrickStore.exe" />
              </Extension>
            </ProgId>
          </Component>

          <Component Id="c_runtime" Guid="514ECE62-8EB1-11D9-8BDE-F66BAD1E3F3A">
            <File Id="msvcr90"    Name="msvcr90.dll"                 Source="$(var.VSINSTALLDIR)\VC\redist\x86\Microsoft.VC90.CRT\msvcr90.dll" />
            <File Id="msvcr90.mf" Name="Microsoft.VC90.CRT.manifest" Source="$(var.VSINSTALLDIR)\VC\redist\x86\Microsoft.VC90.CRT\Microsoft.VC90.CRT.manifest" />
          </Component>

          <!-- the original MS msm's are broken (install to c:\)
          <Merge Id="msvcr71" Language="1033" Source="$(env.CommonProgramFiles)\Merge Modules\vc_user_crt71_rtl_x86_-#-#-.msm" />
          <Merge Id="msvcp71" Language="1033" Source="$(env.CommonProgramFiles)\Merge Modules\vc_user_stl71_rtl_x86_-#-#-.msm" />
          -->
          <Component Id="c_qt" Guid="F1E04CC1-2FB0-432F-A27A-622BC495097F">
            <File Id="libQtCore"    Name="QtCore4.dll"    Source="$(var.QTDIR)\bin\QtCore4.dll"    />
            <File Id="libQtGui"     Name="QtGui4.dll"     Source="$(var.QTDIR)\bin\QtGui4.dll"     />
            <File Id="libQtNetwork" Name="QtNetwork4.dll" Source="$(var.QTDIR)\bin\QtNetwork4.dll" />
            <File Id="libQtScript"  Name="QtScript4.dll"  Source="$(var.QTDIR)\bin\QtScript4.dll"  />
            <File Id="libQtXml"     Name="QtXml4.dll"     Source="$(var.QTDIR)\bin\QtXml4.dll"     />
            <File Id="libQtOpenGl"  Name="QtOpenGL4.dll"  Source="$(var.QTDIR)\bin\QtOpenGL4.dll"  />
          </Component>

          <Directory Id="translations" Name="translations">
            <Component Id="c_translations" Guid="7F2A4CBF-90FB-43A1-AC34-FEA6BF6FE1FE">
              <File Id="translations.xml" Name="translations.xml" Source="$(var.TARGET)\src\translations\translations.xml" />
              <File Id="brickstore_de.qm" Name="brickstore_de.qm" Source="$(var.TARGET)\src\translations\brickstore_de.qm" />
              <File Id="brickstore_fr.qm" Name="brickstore_fr.qm" Source="$(var.TARGET)\src\translations\brickstore_fr.qm" />
              <File Id="brickstore_nl.qm" Name="brickstore_nl.qm" Source="$(var.TARGET)\src\translations\brickstore_nl.qm" />
              <File Id="brickstore_sl.qm" Name="brickstore_sl.qm" Source="$(var.TARGET)\src\translations\brickstore_sl.qm" />
              <File Id="qt_de.qm"         Name="qt_de.qm"         Source="$(var.QTDIR)\translations\qt_de.qm" />
              <File Id="qt_fr.qm"         Name="qt_fr.qm"         Source="$(var.QTDIR)\translations\qt_fr.qm" />
              <File Id="qt_nl.qm"         Name="qt_nl.qm"         Source="$(var.TARGET)\src\translations\qt_nl.qm" />
              <File Id="qt_sl.qm"         Name="qt_sl.qm"         Source="$(var.QTDIR)\translations\qt_sl.qm" />
            </Component>
          </Directory>
        </Directory>
      </Directory>
        
      <Directory Id="ProgramMenuFolder" Name="Programs" />
      <Directory Id="DesktopFolder" Name="Desktop" />
    </Directory>

    <Feature Id="Complete" Title="BrickStore" Description="The complete package."
             TypicalDefault="install" Display="expand" Level="1" ConfigurableDirectory="INSTALLDIR">
      <ComponentRef Id="c_main" />
      <ComponentRef Id="c_runtime" />
      <ComponentRef Id="c_qt" />
      <ComponentRef Id="c_translations" />
      <!--
      <MergeRef     Id="msvcr71" />
      <MergeRef     Id="msvcp71" />
      -->
    </Feature>

    <WixVariable Id="WixUILicenseRtf" Value="$(sys.SOURCEFILEDIR)\license.rtf" />
    <WixVariable Id="WixUIBannerBmp"  Value="$(sys.SOURCEFILEDIR)\banner.bmp" />
    <WixVariable Id="WixUIDialogBmp"  Value="$(sys.SOURCEFILEDIR)\dialog.bmp" />
    <UIRef Id="WixUI_InstallDir" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
  </Product>
</Wix>
