[Desktop Entry]
# This is a deprecated method for KDE3 to make it recognize this MimeType
Type=MimeType
Comment=BrickStore XML
Hidden=false
Icon=application-x-brickstore-xml
# This must not have a trailing ";" for KDE3
MimeType=application/x-brickstore-xml
Patterns=*.bsx
X-Ubuntu-Gettext-Domain=$(DOMAIN)
